<!DOCTYPE html>
<html>
  <head>
    <title>Documentation</title>
    <link rel="stylesheet" href="{{ site.url }}/css/foundation.min.css" type="text/css" />
    <meta charset="utf-8" />

  </head>

  <body>

    <style type="text/css" media="screen">
      .doctoc-highlight {
	background-color: #FF0000;
	color: #00FF00;
      }

      .my-custom-highlight {
	background-color: #00FF00;
	color: #FF0000;
      }
    </style>

    {% doctoc_sort custom, reverse %}

    <div class="row">
      <div class="row">
        <div class="columns large-12">
          <h1>Documentation</h1>
          <p>{{ page.path }}</p>
        </div>
      </div>

      <div class="row">
        <div class="columns large-3">
          <div class="panel">
            <!-- {#{ page.doctoc }} -->
	    {% doctoc highlight-current-node, my-custom-highlight %}
          </div>
        </div>
        <div class="columns large-6">

          <div class="row">
            <div class="columns large-12 panel">
              {% doctoc_up Go up %}
            </div>
          </div>

          {{ content }}


          <div class="row panel callout">
            <div class="column large-12">

              <div class="row">
                <div class="column large-6">
                  <p>{% doctoc_prev prev_with_parens %}</p>
                </div>
                <div class="column large-6">
                  <p>{% doctoc_next next_with_parens %}</p>
                </div>
              </div>

              <div class="row">
                <div class="column large-6">
                  <p>{% doctoc_prev only_name %}</p>
                </div>
                <div class="column large-6">
                  <p>{% doctoc_next only_name %}</p>
                </div>
              </div>

              <div class="row">
                <div class="column large-6">
                  <p>{% doctoc_prev only_prev %}</p>
                </div>
                <div class="column large-6">
                  <p>{% doctoc_next only_next %}</p>
                </div>
              </div>

              <div class="row">
                <div class="column large-6">
                  <p>{% doctoc_prev only_prev_small_caps %}</p>
                </div>
                <div class="column large-6">
                  <p>{% doctoc_next only_next_small_caps %}</p>
                </div>
              </div>

              <div class="row">
                <div class="column large-6">
                  <p>{% doctoc_prev custom, &#8249; PREV %}</p>
                </div>
                <div class="column large-6">
                  <p>{% doctoc_next custom, NEXT &#8250; %}</p>
                </div>
              </div>

            </div>
          </div>


        </div>
        <div class="columns large-3">
          <div class="panel callout">
            <!-- {% doctoc <em style="color: #FF0000;">OVERVIEW</em>%} -->
            {% doctoc parent-node, Parent node %}
	    <hr />
            {% doctoc highlight-current-node, my-custom-highlight %}
            <!-- {% doctoc highlight-current-node %} -->
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src=""></script>
  </body>
</html>
