<!DOCTYPE html>
<html>
  <head>
    <title>Documentation</title>
    <link rel="stylesheet" href="{{ site.url }}/css/foundation.min.css" type="text/css" />
    <meta charset="utf-8" />

  </head>

  <body>


    <div class="row">
      <div class="row">
        <div class="columns large-12">
          <h1>Documentation</h1>
	  <p>{{ page.path }}</p>
        </div>
      </div>

      <div class="row">
        <div class="columns large-3">
          <div class="panel">
            {{ page.doctoc }}
          </div>
        </div>
        <div class="columns large-6">

          <div class="row">
            <div class="columns large-12 panel">
              {% doctoc_up Go up %}
            </div>
          </div>

          {{ content }}
        </div>
        <div class="columns large-3">
          <div class="panel callout">
            <!-- {% doctoc <em style="color: #FF0000;">OVERVIEW</em>%} -->
            {% doctoc parent-node, Parent node %}
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src=""></script>
  </body>
</html>
